# Introduction
#####

### Getting started with regular imports

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
import numpy as np

In [3]:
df = pd.read_csv("C:/Users/HP/Desktop/intern hackathon/train_yhC5guX/train.csv")

In [4]:
df.shape

(1053908, 16)

In [ ]:
json = pd.read_json("C:/Users/HP/Desktop/intern hackathon/train_yhC5guX/extra_infos.json",lines=True)

In [6]:
df.user_id.value_counts()

2047     70
3454     70
7555     70
5506     70
3457     70
1408     70
12678    70
10629    70
8580     70
6531     70
4482     70
2433     70
384      70
1407     70
5501     70
5500     70
7548     70
9595     70
11642    70
383      70
2430     70
4477     70
6524     70
8571     70
10618    70
12665    70
3455     70
1406     70
9604     70
11653    70
         ..
17249     1
17239     1
17224     1
17269     1
17245     1
17250     1
17273     1
17225     1
17280     1
17244     1
17268     1
17209     1
17226     1
17281     1
17215     1
17214     1
17274     1
17227     1
17282     1
17256     1
17242     1
17283     1
17228     1
17267     1
17275     1
17248     1
17229     1
17257     1
17241     1
17243     1
Name: user_id, Length: 17288, dtype: int64

In [283]:
df.genre_id.value_counts()

0         573063
7         114072
10         35370
25         32511
27         24811
14         21377
734        16644
297        16545
77         12511
2744       11632
50          9787
3           9205
1130        8580
3645        8326
18          8292
421         7917
1           5697
1106        5595
9           5494
25481       4562
109         4079
745         3654
25471       2819
2           2565
17          2546
1175        2227
82          2166
723         2099
2794        2012
171         2004
           ...
27401          1
4491           1
107965         1
9378           1
101801         1
76221          1
14751          1
58261          1
125355         1
112035         1
10114          1
27531          1
405            1
2204           1
163291         1
404            1
65971          1
109365         1
30111          1
132035         1
401            1
1185           1
121785         1
117915         1
42901          1
770            1
396            1
3966           1
6309           1
6792           1
Name: genre_id, Length: 1788, dtype: int64

In [81]:
df.describe()

,genre_id,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,ID,train,fresh
count,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1.053908e+06,1053908.0,1.053908e+06
mean,2.028295e+03,8.436473e+07,8.779941e+06,2.352846e+00,2.011952e+07,4.647787e-01,2.042882e-01,2.295715e+02,2.437594e-01,4.238491e-01,7.571911e+03,1.632341e+06,2.403227e+01,6.688914e-01,5.269535e+05,1.0,7.910766e-01
std,1.249672e+04,5.041447e+07,5.375867e+06,4.677338e+00,7.346577e+04,6.786067e-01,5.108517e-01,7.450526e+01,4.293494e-01,4.941673e-01,4.423265e+03,2.603378e+06,3.841988e+00,4.706123e-01,3.042372e+05,0.0,4.065397e-01
min,0.000000e+00,2.002240e+05,1.976000e+03,0.000000e+00,1.900010e+07,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,1.800000e+01,0.000000e+00,0.000000e+00,1.0,0.000000e+00
25%,0.000000e+00,2.919206e+07,2.690478e+06,0.000000e+00,2.011012e+07,0.000000e+00,0.000000e+00,1.950000e+02,0.000000e+00,0.000000e+00,3.763000e+03,3.469000e+03,2.100000e+01,0.000000e+00,2.634768e+05,1.0,1.000000e+00
50%,0.000000e+00,1.047823e+08,1.090846e+07,1.000000e+00,2.015060e+07,0.000000e+00,0.000000e+00,2.200000e+02,0.000000e+00,0.000000e+00,7.527000e+03,2.719220e+05,2.400000e+01,1.000000e+00,5.269535e+05,1.0,1.000000e+00
75%,2.500000e+01,1.289480e+08,1.363282e+07,2.000000e+00,2.016072e+07,1.000000e+00,0.000000e+00,2.520000e+02,0.000000e+00,1.000000e+00,1.129100e+04,1.519461e+06,2.700000e+01,1.000000e+00,7.904302e+05,1.0,1.000000e+00
max,2.595010e+05,1.371489e+08,1.470623e+07,7.300000e+01,3.000010e+07,2.000000e+00,2.000000e+00,9.158000e+03,1.000000e+00,1.000000e+00,1.728700e+04,1.142778e+07,3.000000e+01,1.000000e+00,1.053907e+06,1.0,1.000000e+00

In [ ]:
json

In [ ]:
df.media_id.value_counts()

In [ ]:
df.context_type.value_counts()

In [ ]:
df.platform_name.value_counts()

In [ ]:
df.platform_family.value_counts()

In [ ]:
df.listen_type.value_counts()

In [ ]:

df.artist_id.value_counts()

In [ ]:
df.head()

In [6]:
test = pd.read_csv("C:/Users/HP/Desktop/intern hackathon/test_Dlahabb/test.csv")

In [ ]:
test.shape

In [ ]:
test.user_id.value_counts()

## model building starts here

In [7]:
grouped =  df.sort_values(['user_id','ts_listen'])
grouped =  grouped.groupby(grouped.user_id)

In [8]:
user_intersection = (np.intersect1d(df['user_id'],test['user_id']))

In [9]:
user_intersection

array([    0,     1,     2, ..., 17285, 17286, 17287], dtype=int64)

In [10]:
len(user_intersection)

17288

In [11]:
df_cv = grouped.tail(30)
df_cv.shape

(486314, 16)

In [12]:
droplist = list(df_cv.ID)

In [114]:
df_cv['fresh'] = fresh_train[droplist]

In [115]:
df_train['fresh'] = fresh_train.drop(droplist)

In [13]:
df_train = df.drop(droplist)

In [12]:
from sklearn.ensemble import RandomForestClassifier

In [407]:
cv_y = df_cv['is_listened']

In [408]:
cv_x = df_cv.drop(['is_listened','ID'],axis=1)

In [409]:
train_y = df_train['is_listened']

In [410]:
train_x = df_train.drop(['is_listened','ID'],axis=1)

In [411]:
train_x.drop('release_date',axis=1,inplace=True)

In [412]:
cv_x.drop('release_date',axis=1,inplace=True)

In [417]:
train_x.drop('ts_listen',axis=1,inplace=True)

In [418]:
cv_x.drop('ts_listen',axis=1,inplace=True)

In [425]:
test2.drop('ID',axis=1,inplace=True)

In [419]:
cv_x.columns

Index(['album_id', 'artist_id', 'context_type', 'genre_id', 'listen_type',
       'media_duration', 'media_id', 'platform_family', 'platform_name',
       'train', 'user_age', 'user_gender', 'user_id', 'count_user_artist'],
      dtype='object')

In [420]:
train_x.columns

Index(['genre_id', 'media_id', 'album_id', 'context_type', 'platform_name',
       'platform_family', 'media_duration', 'listen_type', 'user_gender',
       'user_id', 'artist_id', 'user_age', 'fresh'],
      dtype='object')

In [426]:
test2.columns

Index(['album_id', 'artist_id', 'context_type', 'genre_id', 'is_listened',
       'listen_type', 'media_duration', 'media_id', 'platform_family',
       'platform_name', 'release_date', 'train', 'ts_listen', 'user_age',
       'user_gender', 'user_id', 'count_user_artist'],
      dtype='object')

In [421]:
model_basic = RandomForestClassifier(n_estimators=100,max_depth=10)

In [422]:
model_basic.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=10, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=100, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [181]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

In [355]:
accuracy_score(cv_y,model_basic.predict(cv_x))

0.67720443992975732

In [423]:
log_loss(cv_y,model_basic.predict_proba(cv_x))

ValueError: Number of features of the model must match the input. Model n_features is 13 and input n_features is 14

In [362]:
 test2.drop('ID',axis=1,inplace=True)

In [363]:
test2.drop('ts_listen',axis=1,inplace=True)

In [375]:
test2.columns

Index(['album_id', 'artist_id', 'context_type', 'genre_id', 'listen_type',
       'media_duration', 'media_id', 'platform_family', 'platform_name',
       'user_age', 'user_gender', 'user_id', 'fresh'],
      dtype='object')

In [376]:
cv_x.columns

Index(['genre_id', 'media_id', 'album_id', 'context_type', 'platform_name',
       'platform_family', 'media_duration', 'listen_type', 'user_gender',
       'user_id', 'artist_id', 'user_age', 'fresh'],
      dtype='object')

In [379]:
basic_prediction = model_basic.predict_proba(test2)

In [380]:
ID = test['ID']

In [381]:
list1 = []
for elements in basic_prediction:
    list1.append(elements[1])

In [382]:
list1 = np.array(list1)

In [383]:
submission_basicmodel = pd.DataFrame(ID)
submission_basicmodel['is_listened'] = list1

In [384]:
submission_basicmodel.to_csv('C:/Users/HP/Desktop/intern hackathon/submission_basicmodel_feature_eng.csv')

## model building stops here

In [18]:
df[['user_id','genre_id']].groupby('user_id')['genre_id'].apply(lambda x: len(np.unique(x.tolist())))

user_id
0         4
1         5
2        18
3        36
4         5
5        27
6        14
7        15
8        12
9        25
10       16
11       14
12       10
13        9
14       12
15       16
16        5
17       16
18       18
19       10
20       22
21        6
22       20
23       16
24        7
25       19
26        1
27       16
28       17
29       23
         ..
17258     1
17259     1
17260     1
17261     1
17262     1
17263     1
17264     1
17265     1
17266     1
17267     1
17268     1
17269     1
17270     1
17271     1
17272     1
17273     1
17274     1
17275     1
17276     1
17277     1
17278     1
17279     1
17280     1
17281     1
17282     1
17283     1
17284     1
17285     1
17286     1
17287     1
Name: genre_id, Length: 17288, dtype: int64

In [94]:
list0 = []
for i in range(0,1053908):
    list0.append(1)

In [95]:
df['train'] =  pd.Series(list0)

In [96]:
test.shape

(554932, 21)

In [97]:
list10=[]
for i in range(0,554932):
    list10.append(0)

In [98]:
test['train'] = pd.Series(list10)

In [99]:
appended = df.append(test)

In [100]:
appended.shape

(1608840, 23)

In [101]:
appended.isnull().sum()

ID                              0
album_id                        0
artist_id                       0
context_type                    0
flow_break_frequency      1053908
genre_id                        0
hit                       1053908
hit_album_in_genre        1053908
is_listened                554932
listen_type                     0
media_duration                  0
media_id                        0
platform_family                 0
platform_name                   0
release_date                    0
time_of_day               1053908
train                           0
ts_listen                       0
user_age                        0
user_context_frequency    1053908
user_gender                     0
user_genre_count          1053908
user_id                         0
dtype: int64

In [102]:
sortappended = appended.sort_values(['user_id','ts_listen','media_id'])

In [103]:
from collections import  defaultdict
ui = sortappended.user_id.values
mi = sortappended.media_id.values

In [104]:
dict1 = defaultdict(int)
a = []
for i,j in zip(ui,mi):
    if dict1[str(i)+str(j)] ==  0:
        a.append(1)
        dict1[str(i)+str(j)] = 1
    else:
        a.append(0)

In [105]:
sortappended['fresh'] = a

In [107]:
fresh = sortappended.fresh

In [108]:
train10 = sortappended.loc[sortappended.train==1]
test10 = sortappended.loc[sortappended.train==0]

In [109]:
fresh_train = train10['fresh']
fresh_test = test10['fresh']

In [110]:
test['fresh'] = fresh_test

In [33]:
train1 = sortappended.loc[sortappended.train ==1]
test1 = sortappended.loc[sortappended.train ==0]

In [35]:
test1.fresh

0         0
1         0
2         0
3         0
4         0
5         0
6         0
7         0
8         0
9         0
10        0
11        0
12        0
13        0
14        1
268432    0
268433    0
268434    0
268435    1
268436    1
268437    1
268438    1
268439    1
268440    1
268441    1
268442    1
268443    1
268444    0
268445    0
268446    0
         ..
554902    1
554903    1
554904    1
554905    1
554906    1
554907    1
554908    1
554909    1
554910    1
554911    1
554912    1
554913    1
554914    1
554915    1
554916    1
554917    1
554918    1
554919    1
554920    1
554921    1
554922    1
554923    1
554924    1
554925    1
554926    1
554927    1
554928    1
554929    1
554930    1
554931    1
Name: fresh, Length: 554932, dtype: int64

In [67]:
train1.shape

(1053908, 19)

In [70]:
test['fresh'] = test1['fresh']

In [73]:
df['fresh'] = train1['fresh']

In [82]:
agebins = [18,24,30]

In [83]:
df['agebins'] = pd.cut(df.user_age,agebins)

In [85]:
test['agebins'] = pd.cut(test.user_age,agebins)

In [95]:
sortappended['ts_listen'] =    pd.to_datetime(sortappended['ts_listen']) 
sortappended['release_date'] = pd.to_datetime(sortappended['release_date'])

In [97]:
year = sortappended.ts_listen.dt.year - sortappended.release_date.dt.year

In [98]:
month = sortappended.ts_listen.dt.year - sortappended.release_date.dt.year

In [99]:
sortappended['old'] = 12*year + month

In [101]:
sortappended['old'].unique()

array([598, 494,   0, 585, 338, 507, 572, 533, 559, 130, 403, 546, 520], dtype=int64)

In [136]:
newdf = sortappended[['media_id','user_id','artist_id']].groupby(['user_id','artist_id']).agg('count').reset_index()
newdf.columns = ['user_id','artist_id','count_user_artist']

In [122]:
sortappended = sortappended.merge(newdf,how = 'left',on = ['user_id','artist_id'])
sortappended[['user_id','artist_id','count_user_artist']]

         user_id  artist_id  count_user_artist
0              0    7508018                  1
1              0    1035779                  1
2              0    4331004                  2
3              0       3469                  3
4              0     282118                  1
5              0     482758                  1
6              0    9856534                  1
7              0     274673                  1
8              0    1009000                  1
9              0    5542423                  1
10             0     112259                  2
11             0    5306539                  1
12             0     271922                  2
13             0     873890                  1
14             0       1188                  1
15             0    4101559                  1
16             0    5962948                  1
17             0      75491                  1
18             0    5126564                  1
19             0     647650                  5
20             0    4050205                  2
21             0     647650                  5
22             0    4050205                  2
23             0     371843                  1
24             0        542                  1
25             0    5992092                  1
26             0      12178                  1
27             0    4104927                  2
28             0    3968561                  1
29             0       1147                  1
...          ...        ...                ...
1608810    19888      11088                  1
1608811    19889    5857773                  1
1608812    19890     359316                  1
1608813    19891      13011                  1
1608814    19892    7946686                  1
1608815    19893    1519461                  1
1608816    19894    7946686                  1
1608817    19895        997                  1
1608818    19896     148129                  1
1608819    19897    4331004                  1
1608820    19898     282118                  1
1608821    19899         11                  1
1608822    19900     383309                  1
1608823    19901    1519461                  1
1608824    19902       7065                  1
1608825    19903       1980                  1
1608826    19904      13442                  1
1608827    19905    1047058                  1
1608828    19906     409796                  1
1608829    19907      66744                  1
1608830    19908     482758                  1
1608831    19909       2255                  1
1608832    19910    1678249                  1
1608833    19911     388973                  1
1608834    19912    7637436                  1
1608835    19913    1519461                  1
1608836    19914     482758                  1
1608837    19915   10069836                  1
1608838    19916     604346                  1
1608839    19917        705                  1

[1608840 rows x 3 columns]

In [135]:
newdf.media_id

0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         3
10        1
11        1
12        2
13        1
14        3
15        1
16        2
17        1
18        1
19        2
20        1
21        1
22        1
23        1
24        2
25        1
26        1
27        1
28        2
29        3
         ..
781955    1
781956    1
781957    1
781958    1
781959    1
781960    1
781961    1
781962    1
781963    1
781964    1
781965    1
781966    1
781967    1
781968    1
781969    1
781970    1
781971    1
781972    1
781973    1
781974    1
781975    1
781976    1
781977    1
781978    1
781979    1
781980    1
781981    1
781982    1
781983    1
781984    1
Name: media_id, Length: 781985, dtype: int64

In [140]:
sortappended.head()

,ID,album_id,artist_id,context_type,genre_id,is_listened,listen_type,media_duration,media_id,platform_family,...,ts_listen,user_age,user_gender,user_id,k,fresh,old,count_user_artist_x,count_user_artist_y,count_user_artist
0,0,12811130,7508018,0,0,1.0,0,194,122437314,2,...,2016-10-31 18:49:35,26,0,0,1,1,598,1,1,1
1,1,12920172,1035779,0,0,0.0,0,316,123339574,2,...,2016-11-01 06:42:11,26,0,0,1,1,598,1,1,1
2,2,13947748,4331004,0,0,0.0,0,224,131340580,2,...,2016-11-01 06:42:41,26,0,0,1,1,598,2,2,2
3,3,13976722,3469,0,0,1.0,0,210,131576046,2,...,2016-11-01 06:43:02,26,0,0,1,1,598,3,3,3
4,4,13640610,282118,0,0,1.0,0,185,129011934,2,...,2016-11-01 06:46:32,26,0,0,1,1,598,1,1,1

In [143]:
 df.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,ID,fresh,agebins
0,0,2016-10-31 18:49:35,122437314,12811130,0,20160408,0,2,194,0,0,0,7508018,26,1,0,1,"(24, 30]"
1,0,2016-11-01 06:42:11,123339574,12920172,0,20160422,0,2,316,0,0,0,1035779,26,0,1,1,"(24, 30]"
2,0,2016-11-01 06:42:41,131340580,13947748,0,20160902,0,2,224,0,0,0,4331004,26,0,2,1,"(24, 30]"
3,0,2016-11-01 06:43:02,131576046,13976722,0,20160906,0,2,210,0,0,0,3469,26,1,3,1,"(24, 30]"
4,0,2016-11-01 06:46:32,129011934,13640610,0,20160722,0,2,185,0,0,0,282118,26,1,4,1,"(24, 30]"

In [246]:
train1 = sortappended.loc[sortappended.train ==1]
test1 = sortappended.loc[sortappended.train ==0]

In [142]:
df.drop('train',axis=1,inplace=True)

In [144]:
df.drop('ID',axis=1,inplace=True)

In [151]:
waste =  pd.read_csv("C:/Users/HP/Desktop/intern hackathon/train_yhC5guX/train.csv")

In [152]:
ID = waste.ID

In [153]:
df['ID'] = ID

In [216]:
ndf = df.drop('agebins',axis=1)

In [247]:
train1.head()

,ID,album_id,artist_id,context_type,genre_id,is_listened,listen_type,media_duration,media_id,platform_family,...,ts_listen,user_age,user_gender,user_id,k,fresh,old,count_user_artist_x,count_user_artist_y,count_user_artist
0,0,12811130,7508018,0,0,1.0,0,194,122437314,2,...,2016-10-31 18:49:35,26,0,0,1,1,598,1,1,1
1,1,12920172,1035779,0,0,0.0,0,316,123339574,2,...,2016-11-01 06:42:11,26,0,0,1,1,598,1,1,1
2,2,13947748,4331004,0,0,0.0,0,224,131340580,2,...,2016-11-01 06:42:41,26,0,0,1,1,598,2,2,2
3,3,13976722,3469,0,0,1.0,0,210,131576046,2,...,2016-11-01 06:43:02,26,0,0,1,1,598,3,3,3
4,4,13640610,282118,0,0,1.0,0,185,129011934,2,...,2016-11-01 06:46:32,26,0,0,1,1,598,1,1,1

In [248]:
test1.head()

,ID,album_id,artist_id,context_type,genre_id,is_listened,listen_type,media_duration,media_id,platform_family,...,ts_listen,user_age,user_gender,user_id,k,fresh,old,count_user_artist_x,count_user_artist_y,count_user_artist
70,1053908,13976722,3469,0,0,NaN,0,210,131576046,0,...,2016-11-01 14:07:24,26,0,0,0,0,598,3,3,3
71,1053909,13203914,156870,0,0,NaN,0,235,125539808,0,...,2016-11-01 14:10:56,26,0,0,0,0,598,2,2,2
72,1053910,13196564,6937705,0,0,NaN,0,152,125481670,0,...,2016-11-01 14:14:52,26,0,0,0,0,598,2,2,2
73,1053911,8548975,5062414,0,25,NaN,0,241,84791735,0,...,2016-11-01 14:17:25,26,0,0,0,0,598,2,2,2
74,1053912,9629010,5523632,0,27,NaN,0,201,94652218,0,...,2016-11-01 14:21:27,26,0,0,0,0,598,6,6,6

In [249]:
train1.drop(['k','count_user_artist_x','count_user_artist_y'],axis=1,inplace=True)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [250]:
test1.drop(['k','count_user_artist_x','count_user_artist_y'],axis=1,inplace=True)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [252]:
test1.drop('is_listened',axis=1,inplace=True)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [254]:
test1.columns

Index(['ID', 'album_id', 'artist_id', 'context_type', 'genre_id',
       'listen_type', 'media_duration', 'media_id', 'platform_family',
       'platform_name', 'release_date', 'train', 'ts_listen', 'user_age',
       'user_gender', 'user_id', 'fresh', 'old', 'count_user_artist'],
      dtype='object')

In [267]:
df.columns

Index(['genre_id', 'ts_listen', 'media_id', 'album_id', 'context_type',
       'release_date', 'platform_name', 'platform_family', 'media_duration',
       'listen_type', 'user_gender', 'user_id', 'artist_id', 'user_age',
       'is_listened', 'fresh', 'ID', 'old'],
      dtype='object')

In [256]:
test1.shape

(554932, 19)

In [259]:
df.drop('agebins',axis=1,inplace=True)

In [318]:
df.drop('old',axis=1,inplace=True)

In [360]:
test2 = test1.drop(['old','count_user_artist'],axis=1)

In [386]:
sortappended.drop(['count_user_artist_x','count_user_artist_y'],axis=1,inplace=True)

In [390]:
sortappended.drop('k',axis=1,inplace=True)
sortappended.columns

Index(['ID', 'album_id', 'artist_id', 'context_type', 'genre_id',
       'is_listened', 'listen_type', 'media_duration', 'media_id',
       'platform_family', 'platform_name', 'release_date', 'train',
       'ts_listen', 'user_age', 'user_gender', 'user_id', 'fresh', 'old',
       'count_user_artist'],
      dtype='object')

In [396]:
train1 = sortappended.loc[sortappended.train ==1]
test1 = sortappended.loc[sortappended.train ==0]

In [397]:
df1 = train1.drop(['fresh','old'],axis=1)

In [398]:
test2 = test1.drop(['fresh','old'],axis=1)

## feature generation on training set only

# time of day feature

In [14]:
hours = pd.to_datetime(df_train.ts_listen, format = '%Y-%m-%d %H:%M:%S').dt.hour
slots = [-1,6,9,18,22,24]
hour_slots = pd.cut(hours,slots)
df_train['time_of_day']= hour_slots

In [15]:
hours = pd.to_datetime(df_cv.ts_listen, format = '%Y-%m-%d %H:%M:%S').dt.hour
slots = [-1,6,9,18,22,24]
hour_slots = pd.cut(hours,slots)
df_cv['time_of_day']= hour_slots

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [16]:
hours = pd.to_datetime(test.ts_listen, format = '%Y-%m-%d %H:%M:%S').dt.hour
slots = [-1,6,9,18,22,24]
hour_slots = pd.cut(hours,slots)
test['time_of_day']= hour_slots

# favourite genre

In [17]:
genre_count = df_train[['media_id','user_id','genre_id']].groupby(['user_id','genre_id']).agg('count').reset_index()

In [18]:
genre_count.columns = ['user_id','genre_id','user_genre_count']
genre_count

        user_id  genre_id  user_genre_count
0             0         0                40
1             1         0                37
2             1         7                 1
3             1         9                 1
4             1       745                 1
5             2         0                10
6             2         3                 1
7             2         7                 9
8             2        14                 2
9             2        18                 1
10            2        25                 2
11            2        27                 1
12            2        50                 5
13            2        77                 1
14            2       297                 1
15            2       734                 1
16            2      1178                 1
17            2      2686                 1
18            2      2744                 3
19            2    109085                 1
20            3         0                 8
21            3         1                 1
22            3         2                 3
23            3         7                 3
24            3         9                 1
25            3        14                 1
26            3        18                 3
27            3        23                 1
28            3        77                 3
29            3       253                 1
...         ...       ...               ...
114821    15193         0                 1
114822    15194         0                 1
114823    15195         2                 1
114824    15196         0                 1
114825    15197         0                 1
114826    15198         0                 1
114827    15199         0                 1
114828    15200         0                 1
114829    15201      2533                 1
114830    15202         7                 1
114831    15203         0                 1
114832    15204         9                 1
114833    15205         0                 1
114834    15206         0                 1
114835    15207         0                 1
114836    15208         0                 1
114837    15209         7                 1
114838    15210         0                 1
114839    15211         0                 1
114840    15212         0                 1
114841    15213         0                 1
114842    15214         7                 1
114843    15215         0                 1
114844    15216         0                 1
114845    15217         0                 1
114846    15218        18                 1
114847    15219         0                 1
114848    15220      1130                 1
114849    15221         0                 1
114850    15222         0                 1

[114851 rows x 3 columns]

In [19]:
df_train= df_train.merge(genre_count,how = 'left',on = ['user_id','genre_id'])

In [20]:
df_train.head()

,genre_id,ts_listen,media_id,album_id,context_type,release_date,platform_name,platform_family,media_duration,listen_type,user_gender,user_id,artist_id,user_age,is_listened,ID,time_of_day,user_genre_count
0,0,2016-10-31 18:49:35,122437314,12811130,0,20160408,0,2,194,0,0,0,7508018,26,1,0,"(9, 18]",40
1,0,2016-11-01 06:42:11,123339574,12920172,0,20160422,0,2,316,0,0,0,1035779,26,0,1,"(-1, 6]",40
2,0,2016-11-01 06:42:41,131340580,13947748,0,20160902,0,2,224,0,0,0,4331004,26,0,2,"(-1, 6]",40
3,0,2016-11-01 06:43:02,131576046,13976722,0,20160906,0,2,210,0,0,0,3469,26,1,3,"(-1, 6]",40
4,0,2016-11-01 06:46:32,129011934,13640610,0,20160722,0,2,185,0,0,0,282118,26,1,4,"(-1, 6]",40

In [21]:
df_train.isnull().sum()

genre_id            0
ts_listen           0
media_id            0
album_id            0
context_type        0
release_date        0
platform_name       0
platform_family     0
media_duration      0
listen_type         0
user_gender         0
user_id             0
artist_id           0
user_age            0
is_listened         0
ID                  0
time_of_day         0
user_genre_count    0
dtype: int64

In [22]:
df_cv= df_cv.merge(genre_count,how = 'left',on = ['user_id','genre_id'])

In [23]:
df_cv.isnull().sum()

genre_id                 0
ts_listen                0
media_id                 0
album_id                 0
context_type             0
release_date             0
platform_name            0
platform_family          0
media_duration           0
listen_type              0
user_gender              0
user_id                  0
artist_id                0
user_age                 0
is_listened              0
ID                       0
time_of_day              0
user_genre_count    107950
dtype: int64

In [24]:
df_cv.user_genre_count.fillna(-1,inplace=True)

In [25]:
test= test.merge(genre_count,how = 'left',on = ['user_id','genre_id'])

In [26]:
test.isnull().sum()

genre_id                 0
ts_listen                0
media_id                 0
album_id                 0
context_type             0
release_date             0
platform_name            0
platform_family          0
media_duration           0
listen_type              0
user_gender              0
user_id                  0
artist_id                0
user_age                 0
ID                       0
time_of_day              0
user_genre_count    191067
dtype: int64

In [27]:
test.user_genre_count.fillna(-1,inplace=True)

## meshing around with context

In [28]:
user_context = df_train[['platform_family','user_id','context_type']].groupby(['user_id','context_type']).agg('count').reset_index()

In [29]:
user_context.columns = ['user_id','context_type','user_context_frequency']

In [30]:
df_train = df_train.merge(user_context,how='left',on=['user_id','context_type'])

In [31]:
df_train.isnull().sum()

genre_id                  0
ts_listen                 0
media_id                  0
album_id                  0
context_type              0
release_date              0
platform_name             0
platform_family           0
media_duration            0
listen_type               0
user_gender               0
user_id                   0
artist_id                 0
user_age                  0
is_listened               0
ID                        0
time_of_day               0
user_genre_count          0
user_context_frequency    0
dtype: int64

In [32]:
df_cv = df_cv.merge(user_context,how='left',on=['user_id','context_type'])

In [33]:
df_cv.isnull().sum()

genre_id                      0
ts_listen                     0
media_id                      0
album_id                      0
context_type                  0
release_date                  0
platform_name                 0
platform_family               0
media_duration                0
listen_type                   0
user_gender                   0
user_id                       0
artist_id                     0
user_age                      0
is_listened                   0
ID                            0
time_of_day                   0
user_genre_count              0
user_context_frequency    92799
dtype: int64

In [34]:
df_cv.user_context_frequency.fillna(-1,inplace=True)

In [35]:
test = test.merge(user_context,how='left',on=['user_id','context_type'])

In [36]:
test.isnull().sum()

genre_id                       0
ts_listen                      0
media_id                       0
album_id                       0
context_type                   0
release_date                   0
platform_name                  0
platform_family                0
media_duration                 0
listen_type                    0
user_gender                    0
user_id                        0
artist_id                      0
user_age                       0
ID                             0
time_of_day                    0
user_genre_count               0
user_context_frequency    198587
dtype: int64

In [37]:
test.user_context_frequency.fillna(-1,inplace=True)

# listen type

In [38]:
dflisten = df_train[['platform_name','user_id','media_id','listen_type']].groupby(['user_id','media_id','listen_type']).agg('count').reset_index()

In [39]:
dflisten.columns= ['user_id','media_id','listen_type','flow_break_frequency']

In [40]:
dflisten = dflisten.loc[(dflisten.flow_break_frequency>=5) & (dflisten.listen_type == 1)]

In [41]:
dflisten.drop('listen_type',axis=1,inplace=True)

In [42]:
df_train = df_train.merge(dflisten,how='left',on=['user_id','media_id'])

In [43]:
df_train.isnull().sum()

genre_id                       0
ts_listen                      0
media_id                       0
album_id                       0
context_type                   0
release_date                   0
platform_name                  0
platform_family                0
media_duration                 0
listen_type                    0
user_gender                    0
user_id                        0
artist_id                      0
user_age                       0
is_listened                    0
ID                             0
time_of_day                    0
user_genre_count               0
user_context_frequency         0
flow_break_frequency      567197
dtype: int64

In [44]:
df_train.shape

(567594, 20)

In [45]:
df_train.flow_break_frequency.fillna(-1,inplace=True)

In [46]:
df_cv = df_cv.merge(dflisten,how='left',on=['user_id','media_id'])

In [47]:
df_cv.isnull().sum()

genre_id                       0
ts_listen                      0
media_id                       0
album_id                       0
context_type                   0
release_date                   0
platform_name                  0
platform_family                0
media_duration                 0
listen_type                    0
user_gender                    0
user_id                        0
artist_id                      0
user_age                       0
is_listened                    0
ID                             0
time_of_day                    0
user_genre_count               0
user_context_frequency         0
flow_break_frequency      486134
dtype: int64

In [48]:
df_cv.flow_break_frequency.fillna(-1,inplace=True)

In [49]:
test = test.merge(dflisten,how='left',on=['user_id','media_id'])

In [50]:
test.flow_break_frequency.fillna(-1,inplace=True)

##  hit albums

In [51]:
hit_or_not = df_train.album_id.value_counts()>1000
hit_or_not = pd.DataFrame(hit_or_not).reset_index()

In [52]:
hit_or_not.columns= ['album_id','hit']

In [53]:
df_train=df_train.merge(hit_or_not,how='left',on='album_id')

In [54]:
df_train.isnull().sum()

genre_id                  0
ts_listen                 0
media_id                  0
album_id                  0
context_type              0
release_date              0
platform_name             0
platform_family           0
media_duration            0
listen_type               0
user_gender               0
user_id                   0
artist_id                 0
user_age                  0
is_listened               0
ID                        0
time_of_day               0
user_genre_count          0
user_context_frequency    0
flow_break_frequency      0
hit                       0
dtype: int64

In [55]:
df_cv=df_cv.merge(hit_or_not,how='left',on='album_id')

In [56]:
df_cv.isnull().sum()

genre_id                      0
ts_listen                     0
media_id                      0
album_id                      0
context_type                  0
release_date                  0
platform_name                 0
platform_family               0
media_duration                0
listen_type                   0
user_gender                   0
user_id                       0
artist_id                     0
user_age                      0
is_listened                   0
ID                            0
time_of_day                   0
user_genre_count              0
user_context_frequency        0
flow_break_frequency          0
hit                       28547
dtype: int64

In [57]:
df_cv.hit.fillna(-1,inplace=True)

In [58]:
test=test.merge(hit_or_not,how='left',on='album_id')

In [59]:
test.isnull().sum()

genre_id                      0
ts_listen                     0
media_id                      0
album_id                      0
context_type                  0
release_date                  0
platform_name                 0
platform_family               0
media_duration                0
listen_type                   0
user_gender                   0
user_id                       0
artist_id                     0
user_age                      0
ID                            0
time_of_day                   0
user_genre_count              0
user_context_frequency        0
flow_break_frequency          0
hit                       36123
dtype: int64

In [60]:
test.hit.fillna(-1,inplace=True)

## genre coupled with album - which album of a particular genre is hit

In [61]:
genre_album_count = df[['platform_name','genre_id','album_id']].groupby(['genre_id','album_id']).agg('count').reset_index()

In [62]:
 newdf=genre_album_count.loc[(genre_album_count.platform_name>=100)]

In [63]:
newdf

       genre_id  album_id  platform_name
14            0    124322            144
36            0    229886            101
364           0   9816028            435
365           0   9816268            141
401           0   9818886            173
536           0   9854614            579
571           0   9859372            112
591           0   9863416            213
688           0   9884332            209
690           0   9884672            147
741           0   9896728            199
798           0   9907558            147
817           0   9909966            181
818           0   9910226            371
847           0   9922006            432
964           0   9956818            219
965           0   9956834            126
1037          0   9974144            155
1049          0   9992398            321
1095          0  10008800            189
1137          0  10017266            347
1194          0  10034066            186
1215          0  10038198           1005
1236          0  10043304            278
1260          0  10047454            260
1326          0  10071110            297
1331          0  10071820            800
1376          0  10086066            100
1378          0  10086234            205
1425          0  10099334            170
...         ...       ...            ...
55882      9164   9635804            256
55918      9165   7441191            159
56581     25471   1175898            100
56595     25471   1333744            149
56636     25471   3616761            247
56868     25481    604257            126
56907     25481   1259714            531
56989     25481   6053935            290
57000     25481   6160538            122
57002     25481   6197819            172
57086     25481   7829774            111
57173     25491    714160            142
57208     25511    626134            118
57216     25511    923965            135
57312     25521     42218            235
57416     25521   9585142            145
57934     25591    215422            134
58218     25681   6526742            139
58276     25711    923831            153
59052     26051   1267919            174
59693     26421   9577634            179
59933     26661   1621349            109
60223     27191   1534156            185
60227     27191   1638342            133
60722     32361   1626836            154
61217    103755   1395707            224
61290    105985   7562672            172
61532    107395   6353739            139
61810    107615   9427626            115
63148    133895   9372662            124

[1588 rows x 3 columns]

In [64]:
newdf['hit_album_in_genre'] = True

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [65]:
newdf.drop('platform_name',axis=1,inplace=True)

C:\Users\HP\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [66]:
df_train = df_train.merge(newdf,how='left',on=['genre_id','album_id'])

In [67]:
df_train.isnull().sum()

genre_id                       0
ts_listen                      0
media_id                       0
album_id                       0
context_type                   0
release_date                   0
platform_name                  0
platform_family                0
media_duration                 0
listen_type                    0
user_gender                    0
user_id                        0
artist_id                      0
user_age                       0
is_listened                    0
ID                             0
time_of_day                    0
user_genre_count               0
user_context_frequency         0
flow_break_frequency           0
hit                            0
hit_album_in_genre        217380
dtype: int64

In [68]:
df_train.hit_album_in_genre.fillna(False,inplace=True)

In [69]:
df_cv = df_cv.merge(newdf,how='left',on=['genre_id','album_id'])

In [70]:
df_cv.isnull().sum()

genre_id                       0
ts_listen                      0
media_id                       0
album_id                       0
context_type                   0
release_date                   0
platform_name                  0
platform_family                0
media_duration                 0
listen_type                    0
user_gender                    0
user_id                        0
artist_id                      0
user_age                       0
is_listened                    0
ID                             0
time_of_day                    0
user_genre_count               0
user_context_frequency         0
flow_break_frequency           0
hit                            0
hit_album_in_genre        189362
dtype: int64

In [71]:
df_cv.hit_album_in_genre.fillna(False,inplace=True)

In [72]:
test = test.merge(newdf,how='left',on=['genre_id','album_id'])

In [73]:
test.isnull().sum()

genre_id                       0
ts_listen                      0
media_id                       0
album_id                       0
context_type                   0
release_date                   0
platform_name                  0
platform_family                0
media_duration                 0
listen_type                    0
user_gender                    0
user_id                        0
artist_id                      0
user_age                       0
ID                             0
time_of_day                    0
user_genre_count               0
user_context_frequency         0
flow_break_frequency           0
hit                            0
hit_album_in_genre        216430
dtype: int64

In [74]:
test.hit_album_in_genre.fillna(False,inplace=True)

# implementation for the day

In [75]:
df_train.columns

Index(['genre_id', 'ts_listen', 'media_id', 'album_id', 'context_type',
       'release_date', 'platform_name', 'platform_family', 'media_duration',
       'listen_type', 'user_gender', 'user_id', 'artist_id', 'user_age',
       'is_listened', 'ID', 'time_of_day', 'user_genre_count',
       'user_context_frequency', 'flow_break_frequency', 'hit',
       'hit_album_in_genre'],
      dtype='object')

In [79]:
no_noise_train = df_train.drop(['ts_listen','release_date','platform_name','platform_family','user_context_frequency','time_of_day','hit','user_genre_count','hit_album_in_genre'],axis=1)

In [80]:
no_noise_train.shape

(567594, 13)

In [81]:
no_noise_cv = df_cv.drop(['ts_listen','release_date','platform_name','platform_family','user_context_frequency','time_of_day','hit','user_genre_count','hit_album_in_genre'],axis=1)

In [82]:
no_noise_cv.shape

(486314, 13)

In [83]:
no_noise_test = test.drop(['ts_listen','release_date','platform_name','platform_family','user_context_frequency','time_of_day','hit','user_genre_count','hit_album_in_genre'],axis=1)

In [84]:
no_noise_test.shape

(554932, 12)

In [85]:
no_noise_cv = pd.get_dummies(no_noise_cv,columns=['hit_album_in_genre'],drop_first=True)

ValueError: labels ['hit_album_in_genre'] not contained in axis

In [331]:
no_noise_train = pd.get_dummies(no_noise_train,columns=['hit_album_in_genre'],drop_first=True)

In [332]:
no_noise_test = pd.get_dummies(no_noise_test,columns=['hit_album_in_genre'],drop_first=True)

In [217]:
no_noise_test.drop('hit_False',axis=1,inplace=True)

In [417]:
no_noise_test.shape

(554932, 13)

In [418]:
no_noise_cv.shape

(486314, 14)

In [419]:
no_noise_train.shape

(567594, 14)

# Clean implementation

In [204]:
import sklearn as skl

In [7]:
cv_x = df_cv_final.drop('is_listened',axis=1)

In [8]:
cv_y = df_cv_final['is_listened']

In [9]:
train_x = df_train_final.drop('is_listened',axis=1)

In [10]:
train_y = df_train_final['is_listened']

### random forest

In [11]:
from sklearn.ensemble import RandomForestClassifier

list

In [28]:
for ntree in [20,30,40,60]:
    for depth in [2,4,6,8,10]:
        model_pt = RandomForestClassifier(n_estimators=ntree,max_depth=depth)
        model_pt.fit(train_x,train_y)
        logloss = log_loss(cv_y,model_pt.predict_proba(cv_x))
        print ("N_EST: %d, depth: %d, loss: %f")%(ntree,depth,logloss)

N_EST: %d, depth: %d, loss: %f

TypeError: unsupported operand type(s) for %: 'NoneType' and 'tuple'

In [57]:
model_rf = RandomForestClassifier(n_estimators=40,max_depth=14,min_samples_split=4)

In [58]:
model_rf.fit(train_x,train_y)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=14, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=4, min_weight_fraction_leaf=0.0,
            n_estimators=40, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

### saving predictions

In [59]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import log_loss

In [104]:
log_loss(cv_y,model_etc.predict_proba(cv_x))

1.0252944680666032

In [105]:
log_loss(train_y,model_etc.predict_proba(train_x))

9.9920072216264108e-16

In [106]:
prediction = model_etc.predict_proba(test_final)
ID = test['ID']
list1 = []
for elements in prediction:
    list1.append(elements[1])

In [107]:
list1 = np.array(list1)

In [108]:
submission_basicmodel = pd.DataFrame(ID)
submission_basicmodel['is_listened'] = list1

In [109]:
submission_basicmodel.to_csv('C:/Users/HP/Desktop/intern hackathon/submission_on_final_dataframe_extra_trees_classifier.csv')

## Logistic Regression

In [64]:
from sklearn.linear_model import LogisticRegression
model_lr = LogisticRegression()
model_lr.fit(train_x,train_y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

# Naive Bayes

In [67]:
from sklearn.naive_bayes import GaussianNB
model_nb = GaussianNB()
model_nb.fit(train_x,train_y)

GaussianNB(priors=None)

# XGBoost

In [86]:
from sklearn.ensemble import GradientBoostingClassifier
model_xgb = GradientBoostingClassifier()
model_xgb.fit(train_x,train_y)

GradientBoostingClassifier(criterion='friedman_mse', init=None,
              learning_rate=0.1, loss='deviance', max_depth=3,
              max_features=None, max_leaf_nodes=None,
              min_impurity_split=1e-07, min_samples_leaf=1,
              min_samples_split=2, min_weight_fraction_leaf=0.0,
              n_estimators=100, presort='auto', random_state=None,
              subsample=1.0, verbose=0, warm_start=False)

# Extra tree gini

In [103]:
from sklearn.ensemble import ExtraTreesClassifier
model_etc = ExtraTreesClassifier()
model_etc.fit(train_x,train_y)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

# implementation ends here
# how_old feature

In [130]:
listen_year = pd.to_datetime(df_train.ts_listen).dt.year
listen_month = pd.to_datetime(df_train.ts_listen).dt.month
release_year = pd.to_datetime(df_train.release_date).dt.year
release_month = pd.to_datetime(df_train.release_date).dt.month
how_old = (listen_year - release_year)*12 + (listen_month-release_month)
df_train['how_old'] = how_old

In [133]:
listen_year = pd.to_datetime(df_cv.ts_listen).dt.year
listen_month = pd.to_datetime(df_cv.ts_listen).dt.month
release_year = pd.to_datetime(df_cv.release_date).dt.year
release_month = pd.to_datetime(df_cv.release_date).dt.month
how_old = (listen_year - release_year)*12 + (listen_month-release_month)
df_cv['how_old'] = how_old

In [134]:
listen_year = pd.to_datetime(test.ts_listen).dt.year
listen_month = pd.to_datetime(test.ts_listen).dt.month
release_year = pd.to_datetime(test.release_date).dt.year
release_month = pd.to_datetime(test.release_date).dt.month
how_old = (listen_year - release_year)*12 + (listen_month-release_month)
test['how_old'] = how_old

# building final data frame

In [139]:
df_train.columns

Index(['genre_id', 'ts_listen', 'media_id', 'album_id', 'context_type',
       'release_date', 'platform_name', 'platform_family', 'media_duration',
       'listen_type', 'user_gender', 'user_id', 'artist_id', 'user_age',
       'is_listened', 'ID', 'time_of_day', 'user_genre_count',
       'user_context_frequency', 'flow_break_frequency', 'hit',
       'hit_album_in_genre', 'fresh', 'how_old'],
      dtype='object')

In [386]:
df_train_final = df_train.drop(['ts_listen','release_date','ID','fresh','hit','how_old'],axis=1)

In [387]:
df_cv_final = df_cv.drop(['ts_listen','ID','release_date','fresh','hit','how_old'],axis=1)

In [388]:
test_final = test.drop(['ts_listen','ID','release_date','fresh','hit','how_old'],axis=1)

In [389]:
df_train_final = pd.get_dummies(df_train_final,columns=['time_of_day'],drop_first=True)

In [390]:
df_cv_final = pd.get_dummies(df_cv_final,columns=['time_of_day'],drop_first=True)

In [391]:
test_final = pd.get_dummies(test_final,columns=['time_of_day'],drop_first=True)

In [392]:
df_train_final.to_csv('C:/Users/HP/Desktop/intern hackathon/final_training_data.csv')

In [393]:
df_cv_final.to_csv('C:/Users/HP/Desktop/intern hackathon/final_cv_data.csv')

In [394]:
test_final.to_csv('C:/Users/HP/Desktop/intern hackathon/final_test.csv')

In [4]:
df_train_final = pd.read_csv("C:/Users/HP/Desktop/intern hackathon/final_training_data.csv")

In [5]:
df_cv_final = pd.read_csv("C:/Users/HP/Desktop/intern hackathon/final_cv_data.csv")

In [6]:
test_final = pd.read_csv("C:/Users/HP/Desktop/intern hackathon/final_test.csv")